body{
    background-color: rgb(209, 209, 209);
    margin: 0px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
}
.bodyHeader{
    text-align: center;
    color: white;
    text-shadow: 19px 8px 18px rgba(0, 0, 0, 1);
    position: fixed;
    background-image:  url(https://wallpaperset.com/w/full/4/c/f/197866.jpg);
    background-size: cover;
    width: 100%;
    padding: .1rem;
    top: 0;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 19px 34px 3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 19px 34px 3px rgba(66, 68, 90, 1);
    box-shadow: 0px 19px 34px 3px rgba(66, 68, 90, 1);
}
.headers{
    margin: 2rem;
    background-color: rgb(158, 158, 158);
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
    border-radius: 45rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-shadow: 0px 20px 65px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 20px 65px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 20px 65px -5px rgba(66, 68, 90, 1);
    h3,h2{
        padding-left: 2rem;
    }
    p{
        padding-right: 2rem;
    }
}
#mainHeader{
    margin-top: 8rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    img{
        padding: 1rem;
        display: flex;
        border-radius: 2rem;
        -webkit-box-shadow: 0px 0px 68px -19px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 68px -19px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 68px -19px rgba(66, 68, 90, 1);
    }
    p{
        padding: 1rem;
    }
}
footer{
    color: white;
    font-size: .8rem;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(65, 65, 65);
    -webkit-box-shadow: 0px -14px 65px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px -14px 65px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px -14px 65px -5px rgba(66, 68, 90, 1);
   h4{
    text-align: end;
    margin-right:2rem; 
   }
}
@media(min-width:768px){
    .content {
        flex-direction: row;
    }
    .mainHeader, .headers{
        h2, h3{
            padding-left: 5rem;
        }
        p{
            padding-right: 5rem;
        }
    }
    }
   

