body {
  background-color: rgb(209, 209, 209);
  margin: 0px;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
}

.bodyHeader {
  text-align: center;
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
  position: fixed;
  width: 100%;
  padding: 0.1rem;
  top: 0;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(360deg, rgb(140, 140, 140) 0%, rgb(177, 177, 177) 100%);
  box-shadow: 0px 20px 52px 0px rgb(66, 68, 90);
}

.mainHeader {
  background-color: rgb(138, 138, 138);
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
  margin: 9rem 2rem 2rem 2rem;
  border-radius: 45rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 68px -19px rgb(66, 68, 90);
}
.mainHeader h2 {
  padding-left: 2rem;
}
.mainHeader p {
  padding-right: 2rem;
}

.headers {
  margin: 2rem;
  background-color: rgb(158, 158, 158);
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
  border-radius: 45rem;
  box-shadow: 0px 0px 68px -19px rgb(66, 68, 90);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.headers h3 {
  padding-left: 2rem;
}
.headers p {
  padding-right: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.content img {
  padding: 1rem;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0px 0px 68px -19px rgb(66, 68, 90);
}
.content p {
  padding: 1rem;
}

section div {
  display: flex;
  justify-content: center;
}
section div form {
  margin: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 5px;
  border-radius: 1rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
}
section div form input, section div form textarea {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.737254902);
}

footer {
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 6rem;
  background-color: black;
}
footer p {
  padding: 0 2rem 1rem 0;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
  .mainHeader h2, .mainHeader h3, .headers h2, .headers h3 {
    padding-left: 5rem;
  }
  .mainHeader p, .headers p {
    padding-right: 5rem;
  }
}