body{
    background-color: rgb(249, 219, 238);
    margin: 0px;
    min-height: 1000px;
}

.bodyHeader{
    border: 5px dashed red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    /* pozycje sticky używamy do menu */
    top: 0;

}
.wrapper{
    flex-direction:column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper header {
    border: 5px dashed purple;
    width: 100%;
    
    
}
h1{
    /* Jeśli podajemy dwie wartości to są góra dół, jeżeli 4 to zgodnie ze wskazókami zegara */
    margin: 10px;
}
ul{
    border: 5px dashed rgb(241, 69, 126);
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}
li{
    border: 1px dashed rgb(255, 132, 0);
}
/* warunek wyłapujący wyświetlanie na telefonie */
@media(max-width:768px)
{
ul{flex-direction: column;}
}
image {
    max-width: 100%;
}

form{
    border: 5px dashed red;
    display: flex;
    flex-direction: column;
    
    
}   
input{
    padding: 5px;
}
.wrapper{
    border: 5px palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 50%;
}
/* Ustawianie elementow, żeby się nei rozjeżdżały */
*{
    box-sizing: border-box;
}

